.material-control{
  position:relative;
  margin-bottom:15px;
      margin-top: 20px;
}
.material-control>input{

  padding:10px 10px 10px 5px;
  display:block;
  width: 100%;
  border:none;
  border-bottom:1px solid #757575;
  background: inherit;
  color: inherit;
}
.material-control>input:focus{ outline:none; }

/* LABEL ======================================= */
.material-control>label{
  color:#999;

  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.material-control>input:focus ~ label, .material-control>input:valid ~ label{
  top:-20px;
  /*color:#5264AE;*/
}

/* BOTTOM BARS ================================= */
.material-control>.bar 	{ position:relative; display:block; }
.material-control>.bar:before, .material-control>.bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:white;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.material-control>.bar:before {
  left:50%;
}
.material-control>.bar:after {
  right:50%;
}

/* active state */
.material-control>input:focus ~ .bar:before, .material-control>input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.material-control>.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.material-control>input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
/* quitarServicio*/
.label-warning{
  /*background-color: inherit !important;*/
}
/* */
.material-control.label-warning>input:focus ~ label, .material-control.label-warning>input:valid ~ label{color:#f39c12;}


.material-control>.bar:before, .material-control>.bar:after {
  background: #f39c12;
}
